name: beacon-nodejs
services:

  # will disappear and become a build step in the image production for hapi
  vue:
    image: "dept/beacon-nodejs"
    command: [ "vue" ]
    env_file: .env
    # environment:
    #   BNJS_UIX_URL: https://10.128.0.2:8080
    #   BNJS_API_URL: https://10.128.0.3:9001
    build: .
    networks:
      beacon-v2-net:
        ipv4_address: 10.128.0.2

  hapi:
    image: "dept/beacon-nodejs"
    command: [ "hapi" ]
    hostname: ${BNJS_HOSTNAME}
    env_file: .env # "abusing" compose interpolation
    build:
      context: .
      args: # from `./.env` or `--env-file`; sent to Dockerfile
        BNJS_UIX_URL: ${BNJS_UIX_URL}
        BNJS_API_URL: ${BNJS_API_URL}
        BNJS_API_CORS_ORIGINS: ${BNJS_API_CORS_ORIGINS}
    depends_on:
      - "mongodb"
    networks:
      beacon-v2-net:
        ipv4_address: 10.128.0.3

  mongodb:
    image: "library/mongo"
    networks:
      beacon-v2-net:
          ipv4_address: 10.128.0.4

  vault:
    image: "hashicorp/vault"
    cap_add:
      - IPC_LOCK
    networks:
      beacon-v2-net:
        ipv4_address: 10.128.0.5

networks:
  beacon-v2-net:
    name: "beacon-v2-net"
    driver_opts:
      com.docker.network.bridge.name: "beacon-v2-net"
    ipam:
      driver: default
      config:
        - subnet: "10.128.0.0/29"
